policy_module(mazacoin, 1.100.1)

########################################
#
# Declarations
#

type mazacoin_t;
type mazacoin_exec_t;
init_daemon_domain(mazacoin_t, mazacoin_exec_t)

permissive mazacoin_t;

type mazacoin_initrc_exec_t;
init_script_file(mazacoin_initrc_exec_t)

type mazacoin_conf_t;
files_type(mazacoin_conf_t)

type mazacoin_var_lib_t;
files_type(mazacoin_var_lib_t)

type mazacoin_var_run_t;
files_type(mazacoin_var_run_t)

type mazacoin_port_t;
corenet_port(mazacoin_port_t)

########################################
#
# mazacoin local policy
#
allow mazacoin_t self:process { fork };

allow mazacoin_t self:fifo_file rw_fifo_file_perms;
allow mazacoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(mazacoin_t, mazacoin_conf_t, mazacoin_conf_t)
manage_files_pattern(mazacoin_t, mazacoin_conf_t, mazacoin_conf_t)

manage_dirs_pattern(mazacoin_t, mazacoin_var_lib_t, mazacoin_var_lib_t)
manage_files_pattern(mazacoin_t, mazacoin_var_lib_t, mazacoin_var_lib_t)
files_var_lib_filetrans(mazacoin_t, mazacoin_var_lib_t, { dir file })

manage_dirs_pattern(mazacoin_t, mazacoin_var_run_t, mazacoin_var_run_t)
manage_files_pattern(mazacoin_t, mazacoin_var_run_t, mazacoin_var_run_t)

sysnet_dns_name_resolve(mazacoin_t)
corenet_all_recvfrom_unlabeled(mazacoin_t)

allow mazacoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(mazacoin_t)
corenet_tcp_sendrecv_generic_node(mazacoin_t)
corenet_tcp_sendrecv_all_ports(mazacoin_t)
corenet_tcp_bind_generic_node(mazacoin_t)

gen_require(`
    type mazacoin_port_t;
')
allow mazacoin_t mazacoin_port_t:tcp_socket name_bind;

gen_require(`
    type mazacoin_port_t;
')
allow mazacoin_t mazacoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(mazacoin_t)

files_read_etc_files(mazacoin_t)

miscfiles_read_localization(mazacoin_t)

sysnet_dns_name_resolve(mazacoin_t)

allow mazacoin_t mazacoin_exec_t:file execute_no_trans;
allow mazacoin_t self:process setsched;
corecmd_exec_ls(mazacoin_t)
corenet_tcp_connect_http_port(mazacoin_t)
dev_read_urand(mazacoin_t)
fs_getattr_xattr_fs(mazacoin_t)
kernel_read_system_state(mazacoin_t)
