[Unit]
Description=Mazacoin's distributed currency daemon
After=network.target

[Service]
User=mazacoin
Group=mazacoin

Type=forking
PIDFile=/var/lib/mazacoind/mazacoind.pid
ExecStart=/usr/bin/mazacoind -daemon -pid=/var/lib/mazacoind/mazacoind.pid \
-conf=/etc/mazacoin/mazacoin.conf -datadir=/var/lib/mazacoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
